@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Stats Stats and more Stats</h1>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>What is this?</h2>
        <p>
            This site, will collect user defined statistics and any person place or thing!
        </p>

    </div>
    <div class="col-md-4">
        <h2>Why?</h2>
        <p>Evidently stats (like in sports) , do not tell you the entire store of a players performance for example.  There are many other factors in which you can gauge a player positively or negatively</p>

    </div>
    <div class="col-md-4">
        <h2>When?</h2>
        <p>Depending on what your keeping track of, it could be live, it could be later on after you watch your favorate show</p>
        <p>We will aggrigate the data here and show you, in the YOUR view, whats hot, and whats not.</p>
    </div>
</div>